<html lang="en">
<head>
    <title>{{ user }}'s Timetable</title>
    <link rel="icon" type="image/png" sizes="192x192" href="static/icons.ico">
    <link rel="manifest" href="/static/manifest.json">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffffxddd"/>
    <meta name="Description" content="Displays your app4 timetable and can  be downloaded has an app.">
</head>
<body>



<style>
    html {
  font-family: helvetica
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}
teacher, time, room {
  grid-column: 2;

}
class {
  grid-column: 2;
  background-color: #eee;
  text-align: center;
}
class {
  font-weight: bold;
  font-family: inherit;
}
h1 {
  grid-column: 2;
}
h3 {
  grid-column: 2;
}
    day {
        grid-column: 2;
    }

    button {
        grid-column: 2;
    }
</style>


<h1>{{ user }}'s Timetable</h1>
<p hidden id="name">{{ user }}</p>
<br>
<h3 hidden id="day"></h3>


<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<class>  </class>
<time>  </time>
<teacher>  </teacher>
<room>  </room>
<br>
<button type="button" onclick="nextday()">Next Day</button>
<button type="button" onclick="prevday()">Previous day</button>
<br>
<button type="button" onclick="logout()">Logout</button>

    <script>

      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
          .then(function() {
                console.log('Service Worker Registered');
          });
      }

    </script>
<!-- Gets the data and displays it -->
<!-- This is a work in progress -->
<script src="/static/timetableUpdater.js"></script>
<script>
    var logout = function () {
        document.cookie = 'sessionCookie' + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        window.location.href = window.location.href;
    }
</script>

</body>

</html>