before_script:
  - apt-get update -qq && apt-get install -y -qq python python-dev python3 python3-dev python3-pip python-pip

flask-start:
  script:
    - wget https://bootstrap.pypa.io/get-pip.py
    - ./pypy get-pip.py
    - python -m pip install -r requirements.txt
    - python app4flask/app.py &

flask-test:
  script:
    - python2 -m pip install tox
    - python3 -m pip install tox
    - tox