before_script:
  - apt-get update -qq && apt-get install -y -qq python python-dev python3 python3-dev pypy python3-pip python-pip
  - pypy -m ensurepip install -r requirements.txt
  - python2 -m pip install tox
  - python3 -m pip install tox

flask-start:
  script:
    - pypy app4flask/app.py &

flask-test:
  script:
    - tox